<div class="back-row">
  <a class="back-link" href="<%= index_path %>">&larr; All episodes</a>
  <%= render_template("_lang_switcher.erb", lang: lang, languages: languages) %>
</div>
<div class="episode-header">
  <div class="header-row">
<% if episode_cover_url %>
    <div class="episode-cover-wrap<%= ' wide' if episode_cover_wide %>">
      <img class="episode-cover" src="<%= episode_cover_url %>" alt="<%= episode_title %>">
    </div>
<% end %>
    <div class="header-text">
      <h1><%= episode_title %></h1>
      <div class="meta"><%= episode_date %><% if episode_duration && site_config.fetch(:show_duration, true) %> &middot; <%= episode_duration %><% end %><% if has_vocabulary %> &middot; <a class="vocab-link" href="#vocabulary">&#x1F4D6; Vocabulary</a><% if vocab_languages %> <span class="vocab-lang-switcher"><% vocab_languages.each_with_index do |lang, i| %><button<%= i == 0 ? ' class="active"' : '' %> data-vocab-lang="<%= lang %>"><%= lang[0..1].upcase %></button><% end %></span><% end %><% end %><select class="speed-selector"></select></div>
      <audio controls preload="metadata" src="<%= audio_url %>"></audio>
    </div>
  </div>
</div>
<% if transcript_html && site_config.fetch(:show_transcript, true) %>
<div class="transcript">
  <%= transcript_html %>
</div>
<% end %>
